.form-products {
    display: flex;
   justify-content: end;
    margin-bottom: 13px;
}


.form-products form{
    display: flex;
    max-width: 350px;
}

.form-products select {
    background: #f8f8f8;
    border: 2px solid #dfdfdf;
    border-radius: 2px;
}

.form-products select:hover, .form-products select:active, .form-products select:focus{
    border: 2px solid #c3bebe;
}

.form-products form > * {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.form-products-item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.form-products .form-products-item:first-of-type{
    margin-right: 20px;
}

.form-products label {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-pagination {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 13px;
}

.layout-pagination .layout-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-pagination .layout-item p {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
}

.pagination li a{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 14px;
    border: 2px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 1px;
}

.pagination li a {
    text-decoration: none;
}

.pagination li:last-child {
    padding-right: 0;
}

.pagination li a:hover, .pagination .is-active{
    background: #e05d6f;
    color: #fff;
    border: 2px solid #e05d6f;
}


