.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-products {
    justify-content: space-between;
}

.grid-products .grid-item {
    width: calc(100% / 3 - 15px);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.grid-products .grid-item:nth-child(3n){
    padding-right: 0;
}

.grid-products .grid-item:nth-last-child(-n+3){
    margin-bottom: 0;
}


