.section-overview-product {
	margin-bottom: 75px;
}

.layout-overview-product {
	justify-content: space-between;
}

.layout-overview-product h4 {
	margin-left: 10px;
}

.overview-nav {
	display: inline-block;
	color: #222;
	margin-right: 5px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.overview-nav i {
	transform: translate(75%, 17%);
}

.overview-nav:hover {
	color: #fff;
	background-color: var(--global-muted-color);
}

.grid-overview-product .grid-item {
	width: calc(100%/4 - 20px);
	margin-right: 10px;
	margin-left: 10px;
}
